:root {
  --primary: #74c69d;
  --secondary: #212529;
  --third: #21252980;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

h1,
h3 {
  font-family: "Crimson Text", serif;
  font-size: 40px;
  letter-spacing: 1px;
}

.exploreLink,
.learnMoreLink,
.viewTeamLink,
.submitBtn {
  padding: 15px;
  width: 150px;
  text-align: center;
  color: var(--white);
  background-color: var(--secondary);
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.learnMoreLink:hover,
.viewTeamLink:hover,
.exploreLink:hover,
.navItem:hover,
.submitBtn:hover {
  opacity: 0.7;
}

.container {
  max-width: 1100px;
  width: 80%;
  display: grid;
  place-items: center;
}

/* Navbar & Footer */

.nav,
footer {
  background-color: var(--primary);
  color: var(--white);
  height: 15vh;
  display: flex;
  justify-content: center;
  border: none;
}

.navContent,
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.socialMediaList {
  display: flex;
  gap: 15px;
}

.navLogo {
  display: flex;
  align-items: center;
  font-size: 33px;
  gap: 14px;
}

.navLogoImg {
  width: 57px;
}

.navList {
  display: flex;
  gap: 26px;
  font-size: 20px;
}

.navLink {
  padding: 5px;
  border-radius: 5px;
}

.navLink.active {
  background-color: var(--white);
  color: var(--primary);
}

.navMenuBtn {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
}

.navMenuBtn i {
  font-size: 50px;
}

/* End of Navbar & Footer */

/* Header */

header {
  min-height: 85vh;
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  justify-content: center;
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.headerInfo {
  width: 500px;
  gap: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.greeting {
  letter-spacing: 10px;
}

.headerDetail {
  font-size: 15px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.75);
}

.headerContent figure {
  width: 550px;
  object-fit: contain;
}

.headerContent img {
  max-width: 100%;
  object-fit: contain;
}

/* End of Header */

/* Partners Section & Team Section & Portfolio Section & Services Section & Contact Section*/

.partners,
.team,
.portfolio,
.services,
.contact {
  margin: 50px auto;
  display: grid;
  place-items: center;
  height: auto;
  max-width: 100vw;
}

.partnersInfo,
.teamInfo,
.portfolioInfo,
.servicesInfo,
.contactInfo {
  text-align: center;
  width: 420px;
  height: auto;
  margin-bottom: 30px;
}

.title {
  text-transform: uppercase;
  color: var(--primary);
  padding-bottom: 20px;
  font-size: 18px;
}

.partnersDetail,
.teamDetail,
.portfolioDetail,
.servicesDetail,
.contactDetail {
  font-size: 20px;
  margin: 20px 0;
}

.partnersItem {
  display: flex;
  height: 100%;
}

.partnersList,
.teamList,
.portfolioList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}

.teamItem {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}

.teamFigure {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  justify-content: space-around;
}

.teamMemberImg {
  border-radius: 50%;
  width: 155px;
  height: 145px;
  border: 1px solid;
  object-fit: contain;
  padding-top: 10px;
}

.teamMemberInfo {
  width: 100%;
  height: auto;
  display: grid;
  gap: 10px;
}

.teamMemberName {
  font-family: "Crimson Text", serif;
  font-size: 24px;
}

.teamMemberPosition {
  color: #212529bf;
  font-size: 15px;
}

.learnMoreLink,
.viewTeamLink {
  background-color: var(--secondary);
  color: var(--white);
  margin: 20px 0;
}

.portfolioItem {
  width: 535px;
}

.portfolioItem img {
  width: 100%;
}

.partnersItem img {
  width: 100%;
}

.servicesList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.servicesItem {
  width: 300px;
  height: 470px;
  padding: 40px 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}

.servicePrice {
  font-size: 40px;
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 10px;
  margin: 10px auto;
}

.servicePrice span {
  font-size: 12px;
  color: var(--third);
}

.serviceInfo {
  color: var(--third);
  font-size: 12px;
  line-height: 1.5;
}

.serviceDetailList {
  display: flex;
  flex-direction: column;
  margin: 15px auto 40px;
  font-size: 12px;
}

.serviceDetailItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bi-check {
  color: var(--primary);
  font-size: 25px;
}

.contact {
  min-height: 75vh;
}

.contactHelpers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}

.contactForm {
  display: grid;
  width: 500px;
  gap: 15px;
  font-size: 20px;
}

.contactForm input,
.contactForm textarea {
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  resize: none;
  background-color: #EEEEEE;
  border: 1px solid ;
}

.submitBtn {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.contactMap {
  margin: 50px auto;
  width: 500px;
  height: 400px;
}

.contactMap iframe {
  width: 100%;
  height: 100%;
}

/* End of Partners Section & Team Section & Portfolio Section & Services Section & Contact Section*/

/* Discussion Section & Work Process Section */

.workProcess,
.discussion {
  display: flex;
  justify-content: center;
}

.workProcessContent,
.discussionContent {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin: 20px auto;
  width: 100%;
  height: 100%;
}

.discussionInfo,
.workProcessInfo {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.discussionInfo p,
.workProcessInfo p {
  color: var(--third);
  margin: 10px 0;
}

.discussionFigure,
.workProcessFigure {
  width: 500px;
  height: auto;
}

.discussionFigure img,
.workProcessFigure img {
  width: 100%;
  height: 100%;
}

/* End of Discussion Section & Work Process Section */

@media (max-width: 1360px) {
  .container {
    width: 90%;
  }

  .headerInfo h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  .partnersList,
  .teamList {
    justify-content: space-evenly;
  }

  .footerContent {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .socialMediaList {
    padding: 10px;
  }
  .websiteInfo {
    padding: 10px;
  }

  .portfolioItem {
    width: 520px;
  }
}

@media (max-width: 1185px) {
  .headerContent,
  .discussionContent,
  .workProcessContent {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .headerContent,
  .workProcessContent {
    flex-direction: column-reverse;
  }

  .headerInfo,
  .partnersInfo,
  .teamList,
  .teamInfo,
  .portfolioInfo {
    width: 100%;
  }

  .discussionFigure,
  .discussionInfo,
  .workProcessFigure,
  .workProcessInfo,
  .headerContent figure,
  .headerContent img {
    width: 100%;
  }

  .teamInfo,
  .portfolio {
    max-width: 100%;
  }

  .portfolioList,
  .servicesList {
    justify-content: center;
    gap: 50px;
  }

  .contactHelpers {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .nav,
  footer {
    height: 12vh;
  }

  header {
    height: 90vh;
  }

  .navMenuBtn {
    display: flex;
  }

  .navMenuBtn i {
    font-size: 35px;
  }

  .navLogo {
    font-size: 20px;
  }

  .navLogoImg {
    width: 35px;
  }

  .navList {
    height: 0;
    width: 70vw;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--primary);
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    align-items: center;
  }

  .navList.active {
    height: 100vh;
  }

  .noScroll {
    overflow: hidden;
  }

  .portfolioItem,
  .contactInfo,
  .contactHelpers,
  .contactForm,
  .contactMap {
    width: 100%;
  }

  .servicesInfo {
    width: 90%;
  }
}
